@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "melodify";
  default: true; /* set as default */
  prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: dark; /* color of browser-provided UI */

  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: oklch(55% 0.046 257.417);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(58% 0.233 277.117);
  --color-secondary-content: oklch(96% 0.018 272.314);
  --color-accent: oklch(62% 0.214 259.815);
  --color-accent-content: oklch(97% 0.014 254.604);
  --color-neutral: oklch(27% 0.041 260.031);
  --color-neutral-content: oklch(87% 0.01 258.338);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(65% 0.241 354.308);
  --color-error-content: oklch(28% 0.109 3.907);

  /* border radius */
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 2px;

  /* effects */
  --depth: 0;
  --noise: 0;
}

@theme {
  --color-base-content-200: oklch(70% 0.022 261.325);
}

.custom-range {
  /* Remove default appearance for all browsers */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  height: 24px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  --range-fill: oklch(69% 0.17 162.48);
  --range-unfill: oklch(13% 0.028 261.692);
}

/* Chrome, Safari, Opera, Edge Chromium */
.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: oklch(69% 0.17 162.48);
  cursor: pointer;
  border: 2px solid oklch(13% 0.028 261.692);
  transition: background 0.2s;
  margin-top: -4px;
}

.custom-range::-webkit-slider-thumb:hover {
  background: oklch(58.965% 0.05963 172.026);
}

/* Track height */
.custom-range::-webkit-slider-runnable-track {
  height: 4px;
  background: linear-gradient(
    to right,
    var(--range-fill) 0%,
    var(--range-fill) calc(var(--value, 0) * 100%),
    var(--range-unfill) calc(var(--value) * 100%),
    var(--range-unfill) 100%
  );
  border-radius: 2px;
}

/* Firefox */
.custom-range::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: oklch(69% 0.17 162.48);
  cursor: pointer;
  border: 2px solid var(--background);
  transition: background 0.2s;
  margin-top: -4px;
}

.custom-range::-moz-range-thumb:hover {
  background: #444;
}

.custom-range::-moz-range-track {
  height: 4px;
  background: linear-gradient(
    to right,
    var(--range-fill) 0%,
    var(--range-fill) calc(var(--value, 0) * 100%),
    var(--range-unfill) calc(var(--value, 0) * 100%),
    var(--range-unfill) 100%
  );
  border-radius: 2px;
}

/* IE and Edge */
.custom-range::-ms-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: green;
  cursor: pointer;
  border: 2px solid var(--background);
  transition: background 0.2s;
  margin-top: -4px;
}

.custom-range::-ms-fill-lower,
.custom-range::-ms-fill-upper {
  height: 4px;
  background: linear-gradient(
    to right,
    var(--range-fill) 0%,
    var(--range-fill) calc(var(--value, 0) * 100%),
    var(--range-unfill) calc(var(--value, 0) * 100%),
    var(--range-unfill) 100%
  );
  border-radius: 2px;
}

/* Remove outline on focus */
.custom-range:focus {
  outline: none;
}

/* Remove border for Firefox */
.custom-range::-moz-focus-outer {
  border: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.icon-filled {
  fill: #e0e0e0 !important;
}
